html {
  scroll-behavior: smooth;
}
body {
  background-color: #cdcdcd;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  font-family: "Muli", sans-serif;
  background-color: #20201d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  border-bottom: 2px solid #20201d;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  top: 0;
  z-index: 2;
}

#logo {
  margin: 0 auto;
  position: inherit;
  max-height: 15vh;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0em;
}
.navlink a {
  font-size: 24px;
  text-decoration: none;
  color: #c41e3d;
}
.navlink a:hover {
  color: #e7f9f0;
}
.navlink a:focus {
  color: #e7f9f0;
  border-radius: 25px solid black;
}
header {
  background-attachment: fixed; /* Parallax effect */
  background-image: url(../images/firebigg.jpg); /* Your code here - Link to header.jpg in the images folder */
  background-position: center; /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  height: 400px;
  margin-top: -2em;
  border: 2px solid black;
}
#shadow {
  height: 400px;
  background-color: gray;
  opacity: 0.3;
}
.slogan {
  padding: 30px;
  display: inline-block;
  z-index: 1;
}
#rotate {
  transform: rotate(90deg);
  max-width: 500px;
}

p {
  display: block;
  font-size: 20px;
  color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery img {
  transform: rotate(90deg);
  max-width: 50%;
  padding: 0 4px;
  margin: 10px;
  z-index: 1;
  flex: 75%;
}
#image4 {
  transform: rotate(0deg);
  justify-self: right;
}
.home-layout {
  width: 30%;
  height: 30%;
  padding: 20px;
  margin: 10px;
}
.background {
  width: 100%;
  margin-top: -20em;
}
.backgroundimg {
  width: 100%;
  height: 25vh;
  overflow: hidden;
}

.equip-format img {
  width: 30%;
  height: 30%;
  padding: 20px;
  margin: 10px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.selfie {
  grid-area: 1 / 1 / 3 / 3;
}
.aboutcontent {
  grid-area: 3 / 1 / 5 / 5;
}
.footer {
  grid-area: 5 / 1 / 6 / 5;
  background-color: #20201d;
  font-size: 18px;
  padding: 10px;
  color: white;
  bottom: 0;
  position: sticky;
  text-align: center;
  z-index: 2;
}
nav a.active-page {
  color: #e7f9f0;
}

.slides {
  height: 675px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.myslides {
  display: none;
  max-height: 450px;
  padding: 10px 30px 10px 100px;
  align-items: center;
}
#mybutton {
  font-size: 25px;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: justify;
  cursor: pointer;
  white-space: nowrap;
}
.w3-display-left:hover,
.w3-display-right:hover,
.w3-display-left:focus,
.w3-display-right:focus {
  background-color: rgb(129, 129, 129);
}
.w3-display-left {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.w3-display-right {
  position: absolute;
  top: 55%;
  right: 25%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
#intro {
  font-size: 35px;
  padding: 20px 40px 20px 40px;
  margin: 10px;
  text-align: center;
  color: #1f201c;
  text-shadow: 2px 2px rgb(168, 165, 165);
}
#lamb-align {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-family: "Open Sans";
  border: 2px solid cdcdcd;
  border-radius: 25px;
  background-color: #1f201c;
}
#fire {
  color: #0c0000;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}
#buttonhook {
  background-color: red;
  border: 5px solid blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
}
@-webkit-keyframes greenPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
}
a.green.button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
  }
  header {
    background-attachment: fixed; /* Parallax effect */
    background-image: url(../images/firebigg.jpg); /* Your code here - Link to header.jpg in the images folder */
    background-position: center; /* Parallax effect */
    background-repeat: repeat; /* Parallax effect */
    background-size: contain; /* Parallax effect */
    background-position-y: 30%;
    height: 150px;
    border: 2px solid black;
  }
  #shadow {
    height: 150px;
    background-color: grey;
    opacity: 0.3;
  }
  #logo {
    order: 1;
    max-height: 12vh;
    z-index: 1;
  }
  .navlink {
    order: 2;
  }
  .navlink a {
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
  }
  .background {
    width: 100%;
  }
  .backgroundimg {
    width: 50%;
    height: 1vh;
    overflow: hidden;
    z-index: 2;
  }
  .slogan {
    font-size: 28px;
  }
  .aboutcontent {
    display: inline;
    border-radius: 25px solid black;
    font-size: 25px;
  }
  #rotate {
    grid-row-start: 2;
    transform: rotate(90deg);
    max-height: 300px;
    max-width: 500px;
  }
  #intro {
    font-size: 24px;
    padding: 20px;
    text-align: center;
  }
  .slides {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    max-height: 450px;
  }
  .myslides {
    display: none;
    max-height: 300px;
    padding: 10px 2px 10px 40px;
    align-items: center;
  }
  #mybutton {
    font-size: 25px;
    border: none;
    display: inline-block;
    padding: 16px 8px;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: justify;
    cursor: pointer;
    white-space: nowrap;
  }
  .w3-display-left {
    position: absolute;
    top: 55%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
  }
  .w3-display-right {
    position: absolute;
    top: 55%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
  }
}
